
.head {
  font-family: "Library 3 AM";
  font-size: 11rem;
  margin-bottom: 0;

}

.tex {
  font-family: "Cocogoose Pro";
  font-size: 2.6rem;
  padding: 0;
  margin: 0;
}

.nasa-logo {
  color: #fc3d21;
  font-family: "nasalization";
  font-size: 7rem;
}
