.box1 {
  background-image: url('/Users/amanverma/Desktop/WildWildWestSite/Road.jpg');
  height: 770px;
  width: auto;
  background-size: cover;
  background-color: transparent;


  /* overflow: visible; */
}

/* @font-face {
  font-family: "Bright Star";
  src: url('https://www.dafont.com/bright-star-2.font.eot?') format('eot'),
    url('https://www.dafont.com/bright-star-2.font.woff') format('woff'),
    url('https://www.dafont.com/bright-star-2.font.ttf') format('truetype'),
    url('https://www.dafont.com/bright-star-2.font.svg#svgFontName') format('svg');
} */

h1 {
  font-family: "Druk Wide Bold", sans-seirf;
  font-size: 6rem;
  color: #fff;
  line-height: 1;
  padding: 0;
  text-shadow: 1px 1px 30px #1a1a1a;
}

p {
  font-family: "Cocogoose Pro Thin";
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 20px;
}

.references {
  font-family: "Cocogoose Pro Thin";
  color: #fff;
  margin-left: 35px;
  letter-spacing: 4px;
  font-size: 0.8rem;
}

.references:hover {
  color: #ffd9b3;
  transition: all 0.2s;
}

.q {
  text-align: center;
  position: relative;
  top: 160px;
}

.navbar-brand {
  font-family: "Druk Wide Bold";
  font-size: 1.5rem;
  color: #fff;
}

/* Section 2 */
/* .sec2 {
  background-size: cover;
  po
  height: 100%;
  width: 100%; */

/* MIDDLE SECTION */
#features {
  position: relative;
}
.features1 {
  width: 400px;
  margin-top: 190px;
  margin-left: 160px;
  margin-bottom: 190px;
}

.features2 {
  font-family: "Druk Wide Bold";
  margin-top: 190px;

}

.test-para {
  width: 370px;
  font-size: 0.9rem;
  text-align: justify;
  font-family: "Cocogoose Pro Thin";
  letter-spacing:normal;
  color: black;
}

/* TESTIMONIALS SECTION */

#testimonials {
  position: relative;
  /* background-color: #f5b67a; */
  background-color: #e3a054;

}

.pad {
  padding-right: 0;
}
.testimonials-image {
  background-image: url('/Users/amanverma/Desktop/WildWildWestSite/town.jpg');
  position: relative;
  padding-top: 27rem;
  padding-bottom: 26rem;
  padding-right: 0;
  background-repeat: no-repeat;
  background-size: 160% ;
  background-position: right 70% bottom 0;

  /* background-position: bottom left; */
}
.he {
  height: 190px;
}

.testimonials-heading {
  font-family: "Druk Wide Bold";
  color: #fff;
  margin-top: 190px;
  margin-right: 100px;
  text-align: right;
}

.testimonials-text {
  font-family: "Cocogoose Pro Thin";
  font-size: 1rem;
  margin-left: 183px;
  margin-right: 100px;
  letter-spacing: normal;
  text-align: justify;
}

  /* STORY SECTION */
.story-text {
  font-family: "Cocogoose Pro Thin";
  font-size: 1rem;
  color: black;
  letter-spacing: normal;
  text-align: justify;
}

.story-heading {
  font-family: "Druk Wide Bold";
  color: black;
  padding-bottom: 20px;
}

.text {
  padding: 15%;
}

.cont {
  padding-top: 30px;
  width: 150px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

button {
  position: relative;
  margin: 0;
  padding: 5px 12px;
  height: 60px;
  width: 150px;
  outline: none;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  /* text-transform: uppercase; */
  background-color: #fff;
  border: 1px solid black;
  border-radius: 100px;
}

button:hover {
  color: #fff;
  background-color: #e3a054;
  border: 1px solid white;
  transition: all 0.2s;
}
